.jumbotron {
    background: yellow;
    margin-top: 45px;
}


footer {
    background: yellow;
    padding: 10px;
    margin: 20px 0 0 0; 
}

.card-hotel{
    display: flex;
    flex-direction: column;
    flex: 1 220px;
    margin: 25px 0px 25px 0px;
    padding: 20px;    
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-nav a{
     margin-right: 30px;

}
a{
    text-decoration-line: none;
    color: black;
}

.icons{
    padding: 10px;
}

.oi-star{
    color: grey;
}
.dorada{
    color: yellow;
}



